body {
  color: #393939;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3f615b;
  color: #e2ebf0;
  padding: 0 20px;
  z-index: 1;
}

.title {
  font-size: 2em;
  font-weight: 600;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  border-radius: 8px;
  background-color: #3f615b;
  margin-bottom: 40px;
}

.tip {
  position: relative;
  background: #99c271;
  border-radius: 0.4em;
  padding: 16px;
  margin-bottom: 8px;
  color: #3b3b3b;
  font-weight: 400;
}

.tip::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #99c271;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
