body {
  color: rgb(0, 0, 255);
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 600px;
  height: 400px;
  background-color: #c9d8de;
  position: relative;
}

.user {
  width: 20px;
  height: 20px;
  background-color: rgb(46, 35, 246);
  border-radius: 50%;
  position: absolute;
}
